{% extends 'base/BASE.html' %}

{% block js_block %}
{% load staticfiles %}

<style>
#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 2;
   z-index: 99;
   text-align: center;
    background-color: 'yellow';
}

#loading-image {
       width: 90%;
   height: 110%;
    margin-left: auto;
    margin-right: auto;
}

</style>


<script src="{% static 'js/insert_full_details_personal.js' %}"></script>
<script src="{% static 'js/insert_address_details.js' %}"></script>
<script src="{% static 'js/insert_job_details.js' %}"></script>
<script type="text/javascript">

var fname = '{{ fname }}'; var mname = '{{ mname }}'; var lname = '{{ lname }}';
var dob = '{{ dob }}'; var marStatus = '{{ marital_status }}';
var licenceNum = '{{ lic_number }}'; var divingExpiry = '{{ lic_expiry|date }}';
var gender = '{{ gender }}';

$(function(){
    $('#loading').hide();
	load_personal_details();
	edit_and_save_personal_details();
    load_countries();
    disable_job_detail();
	$('.datepicker').datepicker();
	$('.selectpicker').selectpicker();
	$('#contact-detail, #job-detail, #reporting-detail').hide();
	$('#supervisor-selects').hide();
	//$('#job-detail').hide();
	$("#sidebar-li ul li a").click(function(e){
		theDiv = $(this).attr("href");
		// alert(theDiv);
		if ($('#personal-edit').is(":visible") || $('#personal-edit-save').is(":visible")){
			existtingDiv = '#personal-detail';
		}
		if ($('#contacts-edit').is(":visible")){
			existtingDiv = '#contact-detail';
		}
		if ($('#job-edit').is(":visible") || $('#job-edit-save').is(":visible")){
			existtingDiv = '#job-detail';
		}
		if ($('#add-supervisor').is(":visible")){
			existtingDiv = '#reporting-detail';
		}
		if ($('#save-supervisor').is(":visible")){
			existtingDiv = '#reporting-detail';
		}
		if (existtingDiv == theDiv) {
			return false;
		}

		query = existtingDiv + "," + theDiv;
		$(query).slideToggle();
		e.preventDefault();
		/*
		if (theDiv == '#personal-detail') {
			$('#contact-detail, #personal-detail').fadeToggle(500);
		}
		else {
			$('#personal-detail, #contact-detail').fadeToggle(500);
		}
		*/
		//$('#form-container:first-child').remove();
    	//$('#form-container').append($(theDiv));
    	//$(theDiv).appendTo('#form-container');
    	//$(theDiv).slideToggle();
    	
    	//$(theDiv).show(500);
    	
    	//$('#contact-detail').fadeIn();
    	//$('#form-container').hide().html($(theDiv).html()).show(500);
	});

$('#add-supervisor').on('click', function(){
	$('#add-delete-super-buttons').css('visibility', 'hidden');
	$('#supervisor-selects').show();
	$('#supervisor-selects').css('visibility', 'visible');
});

$('#cancel-supervisor').on('click', function(){
	$('#supervisor-selects').css('visibility', 'hidden');
	$('#add-delete-super-buttons').show();
	$('#add-delete-super-buttons').css('visibility', 'visible');
	
});

var data = ['Mahadev','Steve Jobs','Linus Torvald','Mark Zucherburg','Richard Stallmen'];
$('#supervisor-name').typeahead({
        source: data,
});

});

</script>

<div class="container-fluid">
		<div class="col-md-3 col-md-offset-1">
			<div class="row">
				<img src="" class="img-rounded" width="190" height="206"></img>
			</div>
			<div class="row">
				</br>
				<button type="button" class="btn btn-primary" style="width: 190;">Choose Pic </button>
			</div>
			</br>
			<div id="sidebar-li" class="row" style="width:190;">
				<ul class="nav">
					<li><a href="#personal-detail">Personal Details</a></li>
					<li><a href="#contact-detail">Contact Details</a></li>
					<li><a href="#job-detail">Job</a></li>
					<li><a href="#">Salary</a></li>
					<li><a href="#reporting-detail">Reporting</a></li>
					<li><a href="#">Qualifications</a></li>
				</ul>
			</div>
		</div>

	<div id="form-container" class="col col-md-8">
		<div id="personal-detail">
			<center><h5><span class="label label-primary">Personal Details</span></h5></center>
			<form role="form" id="persdetail" action="" class="col col-md-12" method="post">
				<div class="row">
					<h5><span class="label label-default" style="padding-left:5px;"> Personal Details </span></h5>
					</br>
					<div class="col col-md-3">
						<div class="form-group">
							<input type="text" id="firstname" class="form-control">
						</div>
					</div>
					<div class="col col-md-3">
						<div class="form-group">
							<input type="text" id="middlename" class="form-control">
						</div>
					</div>
					<div class="col col-md-3">
						<div class="form-group">
							<input type="text" id="lastname" class="form-control">
						</div>
					</div>
				</div>
            <!--
				<hr style="border-width: 6.5px" />
			</br>
				<div class="row">
					<h5><span class="label label-default"> Identity Details </span></h5>
				</br>
					<div class="col-md-4 col-md-offset-1">
						<div class="form-group">
							<input type="text" id="empID" class="form-control" placeholder="Any Other ID">
						</div>
					</div>
				</div>
			-->

				<hr style="border-width: 6.5px" />
			</br>
				<div class="row">
					<h5><span class="label label-default"> Driving Licence Number, Expiry </span></h5>
				</br>
					<div class="col col-md-4">
						<div class="form-group">
							<input type="text" id="licence-num" class="form-control">
						</div>
					</div>
					<div class="col-md-4 col-md-offset-1">
						<div class="form-group">
							<div class="input-group date" data-date-format="mm/dd/yyyy">
								<input type="text" class="form-control datepicker" name="licen-expiry" readonly="readonly" placeholder="Licence Expiry" id="drv-exp-picker" />
                    				<span class="input-group-addon">
                        				<span class="glyphicon glyphicon-calendar"></span>
                    				</span>
							</div>
						</div>
					</div>
				</div>

				<hr style="border-width: 6.5px" />
			</br>
				<div class="row">
					<h5><span class="label label-default">Marital status &amp; Gender</span></h5>
				</br>
						<div class="radio-inline">
  							<label><input type="radio" name="optradio" id="marradio-female" value="Female">Female</label>
						</div>
						<div class="radio-inline">
  							<label><input type="radio" name="optradio" id="marradio-male" value="Male">Male</label>
						</div>
						<div class="col col-md-4">
							<div class="form-group">
								<select class="selectpicker" name="marital-status" id="marital-status">
                                    <option value="None">Not Selected Yet</option>
									<option value="Single">Single</option>
									<option value="Married">Married</option>
									<option value="Other">Other</option>
								</select>
							</div>
						</div>
				</div>
			</br>
				<div class="col-md-7 col-md-offset-3">
					<div class="row">
                        <div id="loading">
                            <img id="loading-image" src="{% static 'img/jar-loading.gif' %}" />
                        </div>
					<div class="form-group">
						<button type="button" class="btn btn-danger" id="personal-edit"><strong> Edit Details </strong></button>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-success" id="personal-edit-save"><strong> Save Details </strong></button>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-default" id="personal-edit-cancel"><strong> Cancel </strong></button>
					</div>
					</div>
				</div>


			</form>
		</div>
<div id="contact-detail">
	<center><h4><span class="label label-primary">Contact Details</span></h4></center>
	<form role="form" action="" method="post" class="col col-md-12">
				<div class="row">
					<h5><span class="label label-default"> Current address </span></h5>
					</br>
					<div class="col col-md-8">
						<div class="form-group">
							<label for="curr-add-1">Address Street-1</label>
							<input type="text" name="curr-add-1" id="curr-add-1" class="form-control">
						</div>
					</div>
					<div class="col col-md-8">
						<div class="form-group">
							<label for="curr-add-2">Address Street-2</label>
							<input type="text" name="curr-add-2" id="curr-add-2" class="form-control">
						</div>
					</div>
                    <div class="col col-md-8">
						<div class="form-group">
							<label for="curr-country">Country</label>
							<input type="text" name="curr-country" id="curr-country" class="form-control typeahead">
						</div>
					</div>
					<div class="col col-md-8">
						<div class="form-group">
							<label for="curr-state">State/Province</label>
							<input type="text" name="curr-state" id="curr-state" class="form-control typeahead">
						</div>
					</div>
					<div class="col col-md-8">
						<div class="form-group">
							<label for="curr-city">City</label>
							<input type="text" name="curr-city" id="curr-city" class="form-control typeahead">
						</div>
					</div>
					<div class="col col-md-5">
						<div class="form-group">
							<label for="curr-zip-code">Zip/Postal Code</label>
							<input type="text" name="curr-zip-code" id="curr-zip-code" class="form-control">
						</div>
					</div>
				</div>
				<div class="row">
					<hr style="border-width: 6.5px" />
				<h5><span class="label label-default"> Telephonic Details</span></h5>
			</br>
					<div class="col col-md-5">
						<div class="form-group">
							<label for="curr-home-phone">Home Telephone</label>
							<input type="text" name="curr-home-phone" id="curr-home-phone" class="form-control">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label for="curr-mobile">Mobile</label>
							<input type="text" name="curr-mobile" id="curr-mobile" class="form-control">
						</div>
					</div>
				</div>
				<div class="row">
					<hr style="border-width: 6.5px" />
				<h5><span class="label label-default">Email Addresses </span></h5>
			</br>
					<div class="col-md-5">
						<div class="form-group">
							<label for="pri-email">Private Email</label>
							<input type="text" name="pri-email" id="pri-email" class="form-control">
						</div>
					</div>
				</div>
				</br>
				<div class="row">
					<hr style="border-width: 6.5px" />
				</br>
					<div class="col-md-3 col-md-offset-4">
						<div class="form-group">
							<button type="button" class="btn btn-danger" id="contacts-edit"> Edit Contacts </button>
						</div>
					</div>
				</div>
			</form>
		</div>

<div id="job-detail">
	<h5><center><span class="label label-primary"> Job Details </span></center></h5>
	</br>
	<form id="job-form" role="form" action="" type="post" class="col col-md-12">
		<div class="row">
			<div class="col col-md-5">
				<h5><span class="label label-default">Department</span></h5>
				</br>
				<div class="form-group">
					<select class="selectpicker" id="depts" name="department"></select>
				</div>
			</div>
		</div>
		<hr style="border-width: 6.5px;" />
		<div class="row">
			<div class="col col-md-5">
				<h5><span class="label label-default">Designation</span></h5>
				</br>
				<div class="form-group">
					<select class="selectpicker" id="desg" name="desigation"></select>
				</div>
			</div>
		</div>
		<hr style="border-width: 6.5px;" />
		<div class="row">
			<div class="col col-md-5">
				<h5><span class="label label-default">Employement Status</span></h5>
				</br>
				<div class="form-group">
					<select class="selectpicker" id="emp-type" name="emp-type">
						<option value="contract-basis">Contract Basis</option>
						<option value="fulltime-contract">Full time contract</option>
						<option value="fulltime-permanat">Full time Permanant</option>
						<option value="probation">Probation</option>
						<option value="parttime-intern">Part time Internship</option>
					</select>
				</div>
			</div>
		</div>

		<hr style="border-width: 6.5px;" />
		<div class="row">
			<div class="col col-md-3">
				<h5><span class="label label-default">Joining date</span></h5>
				</br>
				<div class="form-group">
					<div class="inner-addon left-addon date" id="jd1">
                        <i class="glyphicon glyphicon-calendar"></i>
                        <input type="text" class="form-control datepicker" id="join-date" name="join-date" placeholder="Joining date" readonly="readonly" />
					</div>
				</div>
			</div>
		</div>

		<hr style="border-width: 6.5px;" />
		<div class="row">
			<div class="col col-md-5">
				<h5><span class="label label-default">Location</span></h5>
				</br>
				<div class="form-group">
					<select class="selectpicker" id="job-location" name="job-location">
						<option value="HQ">Ahmedabad - HQ</option>
						<option value="bangalore">Bangalore</option>
					</select>
				</div>
			</div>
		</div>

		<hr style="border-width: 6.5px;" />
		</br>
		<div class="row">
            <div class="form-group">
                <button type="button" class="btn btn-danger" id="job-edit"><strong> Edit Details </strong></button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success" id="job-edit-save"><strong> Save Details </strong></button>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" id="job-edit-cancel"><strong> Cancel </strong></button>
            </div>
        </div>

	</form>
</div>

<div id="reporting-detail">
	<h5><center><span class="label label-primary"> Reporting Details </span></center></h5>
	</br>
		<div class="row">
			<div class="col-md-10">
				<div class="form-group">
					<table class="table table-bordered">
						<thead>
							<th>Reporting To</th>
							<th>Type</th>
						</thead>
					</table>
				</div>
			</div>
		</div>	
		<div class="row" id="add-delete-super-buttons">
			<div class="col-md-1 col-md-offset-1">
				<div class="form-group">
					<button id="add-supervisor" type="button" class="btn btn-success">Add</button>
				</div>
			</div>

			<div class="col-md-1">
				<div class="form-group">
					<button id="delete-supervisor" type="button" class="btn btn-danger">Delete</button>
				</div>
			</div>
		</div>
		<hr style="border-width: 6.5px;" />
		</br>
		<div class="row" id="supervisor-selects">
			<form id="job-form" role="form" action="" type="post" class="col col-md-12">
				<div class="row">
					<div class="col col-md-5">
						<h5><span class="label label-default">Select supervisor</span></h5>
						</br>
						<div class="form-group">
							<input type="text" id="supervisor-name" name="supervisor-name" class="form-control" placeholder="Type in supervisor name" data-provide="typeahead">
						</div>
						</br>
						<h5><span class="label label-default">Type</span></h5>
						</br>
						<div class="form-group">
							<select class="selectpicker" id="reporting-type" name="reporting-type"></select>
						</div>
					</div>
				</div>

				<div class="row" id="save-cancell-super-buttons">
					<div class="col-md-1 col-md-offset-1">
						<div class="form-group">
							<button id="save-supervisor" type="button" class="btn btn-success">Add</button>
						</div>
					</div>

					<div class="col-md-1">
						<div class="form-group">
							<button id="cancel-supervisor" type="button" class="btn btn-danger">Cancel</button>
						</div>
					</div>
				</div>

			</form>
		</div>	

</div>

	</div>
</div>


{% endblock %}