{% extends 'base/BASE.html' %}

{% block js_block %}

<style>

.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

    #formwrapper {
    background-color: white;
    opacity: 1;
    border:0.5px solid white;
    box-sizing: border-box;
    padding: 50px;
    padding-top: 28px;
    padding-bottom: 0px;
    border-radius: 3px;
    background: #fff;
    border: 3px solid #dcdcdc;
    box-shadow: 0 2px 4px 0 #dcdcdc;
    }

</style>

<script type="text/javascript">
$.backstretch("http://images8.alphacoders.com/396/396530.jpg", {speed: 550});
$(function() {
    validateNewEmployeeForm();
    fill_departments_designations();
    $('.selectpicker').selectpicker();
    $('.datepicker').datepicker();
});

</script>
{% endblock %}

{% block form_block %}

<div class="container">
	{% if messages %}
	{% for message in messages %}
	<ul>
		<strong>{% if message.tags %}<div class="col-md-8 col-md-offset-2 alert alert-{{ message.tags }}"> {% endif %} {{ message }}</div></strong>
	</ul>
	{% endfor %}
	{% endif %}
    <div id="formwrapper" class="col-md-4 col-md-offset-4">
	<form role="form" method="post" id="newempform" action=""> {% csrf_token %}
		<div class="row">
			<h5><span class="label label-primary"> Employee ID </span></h5>
			</br>
			<div class="col-md-12">
				<div class="form-group">
					<div class="inner-addon left-addon date">
						<i class="glyphicon glyphicon-ok"></i>
						<input class="form-control" readonly="readonly" name="employee_code" id="emp_code" value="{{ emp_pk }}" />
					</div>
				</div>
			</div>
		</div>
		<hr style="background-width=6.5px;" />
		<div class="row">
			<h5><span class="label label-primary"> Employee Personal Details </span></h5>
            </br>
        </div>
        <div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-user"></i>
						<input type="text" class="form-control" name="firstname" placeholder="Firstname">
					</div>
				</div>
			</div>
        </div>
            <div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-user"></i>
						<input type="text" class="form-control" name="middlename" placeholder="Middlename">
					</div>
				</div>
			</div>
            </div>
            <div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-user"></i>
						<input type="text" class="form-control" name="lastname" placeholder="Lastname">
					</div>
				</div>
			</div>
            </div>
            <div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="inner-addon left-addon">
						<i class="glyphicon glyphicon-calendar"></i>
						<input type="text" class="form-control datepicker" name="dob" readonly="readonly" placeholder="Date of Birth" id="dobpicker" />
                	</div>
				</div>
			</div>
                </br></br>
		<!--
		<hr style="border-width: 6.5px" />

		<div class="row">
			<h5><span class="label label-default"> Department, Designation &amp; Project</span></h5>
			</br>
			<div class="col col-md-4">
				<div class="form-group">
					<select class="selectpicker" id="depts" name="department"></select>
				</div>
			</div>

			<div class="col col-md-4">
				<div class="form-group">
					<select class="selectpicker" id="desg" name="desigation"></select>
				</div>
			</div>

			<div class="col col-md-4">
				<div class="form-group">
					<select class="selectpicker"></select>
				</div>
			</div>
		</div>


		<hr style="border-width: 6.5px" />

		<div class="row">
			<h5><span class="label label-default"> Joining date &amp; Previous Organization </span></h5>
			</br> 
			<div class="col-md-4 col-md-offset-1">
				<div class="form-group">
					<div class="input-group date" id="dp2" date-date-format="dd-mm-yyyy">
						<input type="text" class="form-control datepicker" placeholder="Joining Date" readonly="readonly" id="dojpicker">
                    		<span class="input-group-addon">
                        		<span class="glyphicon glyphicon-calendar"></span>
                    		</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-md-offset-1">
            	<div class="form-group">
            	   <input type="text" class="form-control" name="orev_org" id="prg" placeholder="Previous Organization (if any)">
            	</div>
            </div>
        </div>

        <hr style="border-width: 6.5px" />
    	</br>

    	<div class="row">
    		<div class="form-group">
    			<label><input type="checkbox"> Send Details to IT for Hardware Assignment request </input>  </label>
    		</div>
    		</br>

    		<div class="col-md-2 col-md-offset-2">
    			<div class="form-group">
    				<button class="btn btn-danger" disabled><b> Edit Details</b></button>
    			</div>
    		</div>
    		-->
    		</br></br>
    		<div class="col-md-10 col-md-offset-3">
    			<div class="form-group">
    				<button class="btn btn-primary"><b> Get on Board ! </b></button>
    			</div>
    		</div>
    	</div>
        </div>

{% endblock %}