{% extends 'base/BASE.html' %}

{% block js_block %}
{% load staticfiles %}

{% endblock %}

{% block content %}

<script>
    $(function(){
        $('#data-table').filterTable();
        $('input').addClass('form-control');
    });
    $.backstretch("{% static 'img/Manhattan-Bridge-13.jpg' %}", {speed: 550});
</script>

<div class="container issue-table">
    <table class="table" id="data-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Contact Numbers</th>
            <th>Department</th>
            <th>Designation</th>
        </tr>
    </thead>
    <tbody>
        {% for empl in cnt %}
        <tr>
            <td><center><a href="/hr/full-employee-info/{{ empl.empl_id }}">{{ empl.empl_id }}</a></center></td>
            <td><a href="/hr/full-employee-info/{{ empl.empl_id }}">{{ empl.fname }}</a></td>
            <td>{{ empl.lname }}</td>
            {% if empl.contacts %}
                <td><ul>
                {% for c in empl.contacts %}
                    {{ c.mobile }}, {{ c.home }}
                {% endfor %}
                </ul></td>
            {% else %}
                <td></td>
            {% endif %}

            {% if empl.jobs %}
                {% for cc in empl.jobs %}
                    <td>{{ cc.dprt }}</td>
                    <td>{{ cc.desg }}</td>
                {% endfor %}
            {% else %}
                <td></td>
                <td></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>


{% endblock %}